<body>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Cappacita Movie</a>
      <form action="" id="cx-pesq">
        <input type="text" placeholder="Pesquisar" id="pesquisa" class="p-2 ">
        <button type="button" id="btn_pesq" onclick="{getContent()}">Pesquisar</button>
      </form>
    </div>
  </nav>

  <div id="result-filmes" class="m-4 row row-cols-5 aling-items-center justify-content-center">

  </div>

  <script src="js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>