<h3 id="titulo_coment" class="container">Comente algo sobre este conteúdo</h3>
</hr>

<div id="coment_div" class="d-flex">
        <form onsubmit="{salvarComentarios()}" class="container aling-items-center justify-content-center" enctype="multipart/form-data">

                <p id="id"><%- detalhesFilme.id %></p>
 
                <p><label>Nome</label><br> <input type="text" id="nome_user" placeholder="Seu nome"
                                class="form form-control" /></p>

                <p><label>Comentario</label><textarea id="comentario_user"
                                placeholder="Digite seu comentario" class="form form-control"></textarea></p>
                <button type="submit" class="btn" id="botao_coment">Enviar comentario</button>
        </form>
</div><br>

<section id="coment" class="container">

</section>