<div id="pag_inicial" class="container-fluid p-4">
  <div id="titulo" class="container-fluid">
    <h1 class="m-0 row aling-items-center justify-content-center">Pesquise Filmes ou Series</h1>
  </div>
  <form class="row aling-items-center justify-content-center" id="pesq">
    <input type="text" placeholder="Pesquisar" id="pesquisa" class="p-2 m-1 col-4 rounded">
    <button type="button" class="col-1 m-1 p-2 btn btn-outline-dark rounded-pill" id="btn_pesq"
      onclick="{getContent()}">Pesquisar</button>
  </form>
</div>

<div class="container-fluid">
  <div id="result-filmes" class="row aling-items-center justify-content-center">

  </div>
</div>