<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Cappacita Movie</a>
    <form action="" id="cx-pesq">
      <input type="text" placeholder="Pesquisar" id="pesquisa" class="p-2 ">
      <button type="button" id="btn_pesq" onclick="{getContent()}">Pesquisar</button>
    </form>
  </div>
</nav>

<div id="result-filmes" class="m-4 row row-cols-5 aling-items-center justify-content-center">

</div>