<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/head.ejs')%>

    <body id="body-pag-inicial">

        <%- include(pageInicial)%>

            <script src="../assets/js/script.js"></script>
    </body>

</html>