<!DOCTYPE html>
<html lang="pt-br">

<%- include('./layouts/head.ejs')%>

    <body>

        <%- include('./layouts/detalhes')%>

            <%- include('./layouts/comentarios')%>

                <script src="../assets/js/scriptBusca.js" defer></script>
                <script src="../assets/js/scriptSalva.js" defer></script>

    </body>

</html>